.chk-align {
    padding-right: 10px;
}
.chk-label-margin {
    margin-left: 5px;
}
.required {
    color: red;
    padding-left: 5px;
}
.btn-success:active, .btn-success:focus{
    background-color: #01BC8C;
}
.panel-heading{
    padding: 1px 15px;
}
.div_gnr_rst{
    padding:15px 15px;
    text-align: right;
}

.btn_generate{
    border-color: transparent;
    padding-left: 10px;
}
.margtop {
    margin-top: 3px;
}
.field_label{
    font-size: 18px;
    margin: 4px 0 0 -14px;
}
.sweet-alert h2{
    color: #333;
    font-size: 20px;
}

.sweet-alert button {
    background-color: #01bc8c !important;
    border-radius: 3px;
    padding: 6px 30px;
}

/*----------Wizards code-----------*/
.hidden, #btnGenerate {
    display: none;
}

.txtFieldName {
    text-transform: capitalize;
}

ul.instructions {
    padding-left: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    padding: 0.5rem 1rem;
}

.wizard > .content {
    background-color: transparent;
    margin: 0;
    min-height: 100px;
    padding: 0;
}

.wizard > .content > .body {
    padding: 0;
    float: none;
    position: relative;
    width: 100%;
    height: initial;
}

.wizard > .actions > ul > li {
    margin: 0 0 0 0.5rem;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active,
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #329cff;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #99cdff;
}

.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
    background: #f86a67;
}

.wizard > .content > .body label.error {
    color: #f86a67;
}

.steps li a {
    cursor: pointer !important;
}

/*jjjjjjjjjjjjjjj*/
.wizard .steps li {
    position: relative;
    text-align: center;
    padding-right: 16px;
}

.wizard .steps li a:before {
    width: 36px;
    height: 38px;
    position: absolute;
    content: "";
    right: 8px;
    top: 7px;
    z-index: 11;
    transform: rotate(45deg);
}

.wizard .steps li a:after {
    height: 52px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.wizard .steps li.current a:before {
    background: #329cff;
}

.wizard .steps li.current a:after {
    border-top: 1px solid #329cff;
    border-bottom: 1px solid #329cff;
    border-left: 1px solid #fff;
    border-width: 24px;
}

.wizard .steps li.current.error a:before {
    background: #f86a67;
}

.wizard .steps li.current.error a:after {
    border-top: 1px solid #f86a67;
    border-bottom: 1px solid #f86a67;
    border-left: 1px solid #fff;
    border-width: 24px;
}

.wizard .steps li.disabled a:before {
    background: #eee;
}

.wizard li.disabled a:after {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #fff;
    border-width: 24px;
}

.wizard .steps li.done a:before {
    background: #99cdff;
}

.wizard .steps li.done a:after {
    border-top: 1px solid #99cdff;
    border-bottom: 1px solid #99cdff;
    border-left: 1px solid #fff;
    border-width: 24px;
}

.wizard .steps li a {
    height: 52px;
}

.wizard > .content > .body li input {
    border: 1px solid #cccccc08;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-results__options li:hover{
    color: #fff !important;
}
